// place your custom styles here
.vp-blog-hero-title {
    color: #27c792 !important;
    font-family: "Times New Roman";
}

.vp-site-name {
    font-family: "Times New Roman";
}

.vp-blog-hero-description {
    color: #ffffff !important; /* 修改顏色 */
    font-size: 1.2rem; /* 控制字體大小 */
    font-weight: bold; /* 加粗 */
    text-align: center; /* 讓標語置中 */
    opacity: 0.9; /* 讓字體稍微淡一點 */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); /* 淡淡的陰影 */
}

body {
    color: #aaa; /* 調整為較淺的灰色 */
    // font-family: inherit;
}

h1 {
    color: #99cc66; /* 紅色 */
}

h2 {
color: #99cc66; /* 藍色 */
}

h3 {
color: #66ccff; /* 綠色 */
}

h4 {
color: #ffcc00; /* 黃色 */
}

h5 {
color: #cc66ff; /* 紫色 */
}

h6 {
color: #999999; /* 灰色 */
}